<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}
        <link href="https://cesium.com/downloads/cesiumjs/releases/1.97/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    
</head>

<body class="bg-zinc-100 dark:bg-gray-800">
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    <!-- Cesium JavaScript -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.97/Build/Cesium/Cesium.js"></script>
    <!-- Cesium Initialization Script -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (typeof Cesium !== 'undefined') {
                Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyMjFhYzQ3YS1hMDZjLTQxMjMtOWVjYi03ZjBmOTMzZTAzNzciLCJpZCI6MjI3ODkyLCJpYXQiOjE3MjE5ODA2Mzh9.n3Rrl6zDnMHPx8vp3YdDLqi0OSwT3vX9OGeBDFK42vs';

                var viewer = new Cesium.Viewer('cesiumContainer', {
                    terrainProvider: Cesium.createWorldTerrain()
                });
            } else {
                console.error('Cesium failed to load');
            }
        });
    </script>
</body>

</html>