[submodule "themes/personal-web"]
	path = themes/personal-web
	url = https://github.com/bjacquemet/personal-web.git
[submodule "themes/themes/hugo-portfolio"]
	path = themes/themes/hugo-portfolio
	url = https://github.com/maheenwaris/hugo-portfolio.git
[submodule "themes/themes/piko"]
	path = themes/themes/piko
	url = https://github.com/heksagonnet/piko.git
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
[submodule "themes/aafu"]
    path = themes/aafu
    url = https://github.com/darshanbaral/aafu.git
[submodule "themes/bridget"]
    path = themes/bridget
    url = https://github.com/Sped0n/bridget.git
[submodule "themes/hugo-blox-builder"]
    path = themes/hugo-blox-builder
    url = https://github.com/HugoBlox/hugo-blox-builder.git
[submodule "themes/hugo-developer-portfolio"]
    path = themes/hugo-developer-portfolio
    url = https://github.com/samrobbins85/hugo-developer-portfolio.git
[submodule "themes/hugo-story"]
    path = themes/hugo-story
    url = https://github.com/caressofsteel/hugo-story.git
[submodule "themes/hugo-theme-doors"]
    path = themes/hugo-theme-doors
    url = https://github.com/zzzmisa/hugo-theme-doors.git
[submodule "themes/lightbi-hugo"]
    path = themes/lightbi-hugo
    url = https://github.com/binokochumolvarghese/lightbi-hugo.git
[submodule "themes/roxo-hugo"]
    path = themes/roxo-hugo
    url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/toha"]
    path = themes/toha
    url = https://github.com/hugo-toha/toha.git

