[submodule "themes/personal-web"]
	path = themes/personal-web
	url = https://github.com/bjacquemet/personal-web.git
[submodule "themes/themes/hugo-portfolio"]
	path = themes/themes/hugo-portfolio
	url = https://github.com/maheenwaris/hugo-portfolio.git
[submodule "themes/themes/piko"]
	path = themes/themes/piko
	url = https://github.com/heksagonnet/piko.git
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
[submodule "themes/aafu"]
    path = themes/aafu
    url = https://github.com/darshanbaral/aafu.git
[submodule "themes/bridget"]
    path = themes/bridget
    url = https://github.com/Sped0n/bridget.git
[submodule "themes/hugo-blox-builder"]
    path = themes/hugo-blox-builder
    url = https://github.com/HugoBlox/hugo-blox-builder.git
[submodule "themes/hugo-developer-portfolio"]
    path = themes/hugo-developer-portfolio
    url = https://github.com/samrobbins85/hugo-developer-portfolio.git
[submodule "themes/hugo-story"]
    path = themes/hugo-story
    url = https://github.com/caressofsteel/hugo-story.git
[submodule "themes/hugo-theme-doors"]
    path = themes/hugo-theme-doors
    url = https://github.com/zzzmisa/hugo-theme-doors.git
[submodule "themes/lightbi-hugo"]
    path = themes/lightbi-hugo
    url = https://github.com/binokochumolvarghese/lightbi-hugo.git
[submodule "themes/roxo-hugo"]
    path = themes/roxo-hugo
    url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/toha"]
    path = themes/toha
    url = https://github.com/hugo-toha/toha.git

[submodule "port-hugo"]
	path = port-hugo
	url = https://github.com/tylerjlawson/port-hugo.git
[submodule "hugo-universal-theme"]
	path = hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "osprey-delight"]
	path = osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
[submodule "spectral"]
	path = spectral
	url = https://github.com/sbruder/spectral.git
[submodule "hugo-resume"]
	path = hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "hugo-theme-w3css-basic"]
	path = hugo-theme-w3css-basic
	url = https://github.com/it-gro/hugo-theme-w3css-basic.git
[submodule "paige"]
	path = paige
	url = https://github.com/willfaught/paige.git
[submodule "hugo-profile"]
	path = hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "up-business-theme"]
	path = up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "tailblissfork"]
	path = tailblissfork
	url = https://github.com/spatial-data-scientist/tailblissfork.git
