<!-- timeline -->
{{ if isset .Site.Params "timeline" }}
<div class="container-fluid timelinemain">
    <div class="col-md-12">
        <div class="timeline">
            <div class="timelinehead">
                <h3 class="timelinehead1">Timeline</h3>
            </div>
            <br>
            {{ range .Site.Params.timeline }}
            <div>
                <div class="timelineborder">
                    <div class="timeline0">
                        <div class="timeline1">
                            <p>{{ .till }}</p>
                        </div>
                        <div class="timeline2">
                            <p><b>{{ .title }}</b></p>
                        </div>
                        <div class="timeline3">
                            <p>6 Years</p>
                        </div>
                    </div>
                    <div>
                        <p class="timeline4">{{ .description }}</p>
                    </div>
                </div>
                <br>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
